{% extends 'base.html' %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <p><strong>Authors:</strong> 
        {% for author in book.authors.all %}
            <a href="{% url 'author_detail' author.id %}">{{ author.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p><strong>Description:</strong> {{ book.description }}</p>
    <p><strong>Publication Date:</strong> {{ book.publication_date }}</p>
    <p><strong>Price:</strong> ${{ book.price }}</p>
{% endblock %}
